<!DOCTYPE html>
<html>
<head>
<title>КосмоСлоты</title>
<link rel="stylesheet" href="../css/reset.css" type="text/css">
<link rel="stylesheet" href="../css/main.css?t=1" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="msapplication-tap-highlight" content="no"/>
</head>
<body>
<div id="table_payment" style="position: absolute; left: 0px; top: 0px;z-index:1; width:100%;">
<center>
	<div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Как получить выигрыш?</font><br><br>
    	<font color="white">Обмен фишек на реальные деньги невозможен. Фишки можно потратить в игре.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Как увеличить выигрыш?</font><br><br>
		<font color="white">Увеличивайте ставку, выбирайте больше линий, получите VIP-статус. VIP-статус – влияет на выигрыш.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Как получить VIP-статус?</font><br><br>
		<font color="white">При покупке фишек за реальные деньги, Вы получаете VIP-статус.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Как получить бонус?</font><br><br>
		<font color="white">Бонус в 500 фишек можно получить каждые 2 часа.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Какой выигрыш в игре максимальный?</font><br><br>
		<font color="white">Можно выиграть приз в 5 000 раз больше ставки. При ставке в 100 фишек, выигрыш будет 500 000 фишек.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Какая ставка максимальная?</font><br><br>
		<font color="white">Cтавка в 100 фишек максимальная. Если участвует 5 линий, то общая ставка 500 фишек.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Есть ли в игре турниры?</font><br><br>
		<font color="white">Да. Каждый час и каждый день.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
		<font color="gold">Как связаться с Администрацией игры?</font><br><br>
		<font color="white">Это легко сделать - Напишите свой вопрос <a href="/contacts">здесь</a>.</font>
    </div>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
      <form method="get" action="/main/123456">
        <button style="background: #2f6d5d; border: none; width: 90%; color: #fff; height: 40px;" type="submit">
          <center>
          <table>
            <tbody><tr>
              <td style="vertical-align: middle; padding-left: 5px;color:#fff;">Назад в игру</td>
              </tr>
            </tbody></table>
          </center> 
        </button>
      </form>
    </div>
</center>
</div>
</body>
</html>