<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="language" content="russian, ru, русский" />
<meta name="robots" content="INDEX, FOLLOW" />
<meta name="viewport" content="width=device-width" />
<meta name="keywords" content="Ridemate" />
<meta name="description" content="Ridemate - поиск попутчиков!" />
<link rel="icon" href="http://144.76.72.53:100/logist/game_zvezda/fav.png" type="image/png">
<link rel="stylesheet" type="text/css" href="http://144.76.72.53:100/logist/game_3x7/m_new2.css?t=1">
<title>Ridemate!</title>
</head><body>

<div class="main">	
	<div class="c-block large orange" style="padding:6px 0px;margin:3px;">
		<span style="color:#f4d002;text-shadow:0 0 15px #f4d002;font-size:18px;"><b><i>Ridemate!</i></b></span>
		<br>
		<img src="http://144.76.72.53:100/logist/game_cosmoslot/logo_128.png" alt="o" height="128" width="128" /><br><br>
    	<span style="color:#f4d002;text-shadow:0 0 15px #f4d002;font-size:16px;"><b><i>Зайдите в Ridemate!</i></b></span><br>
		<center>
		<table><tr>
			<td style="padding-top:10px;padding-bottom:30px;">
				<table>
					<tbody><tr>
						<td align="center" style="width: 50%">
							<a href="/login?type=ok" style="border:none;text-decoration:none;color:white;">
								<img src="http://144.76.72.53:100/logist/game_cosmoslot/oauth/ok_32.png" alt="odnoklassniki">
							<br>
							Одноклассники</a>
						</td>
						<td align="center" style="width: 50%">
							<a href="/login?type=vk" style="border:none;text-decoration:none;color:white;">
								<img src="http://144.76.72.53:100/logist/game_cosmoslot/oauth/vk_32.png" alt="vkontakte">
							<br>
							Вконтакте</a>
						</td>
					</tr></tbody>
				</table>
			</td>
		</tr></table>
		</center>
	</div>
</div>
</div></body></html>