<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridemate</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bundle.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__title">Ridemate</div>
        <div class="header__discription">Сервис для поиска попутчиков</div>
      </div>
    </div>
    
    <form class="container validate" id="result">
      <div class="form__box">
      	<div class="form__title">Войдите с помощью:</div>
        <div class="form-group form-btn">
		    <center>
				<table><tr>
					<td style="padding-top:10px;padding-bottom:30px;">
						<table>
							<tbody><tr>
								<td align="center" style="width: 40%">
									<a href="/login?type=ok" style="border:none;text-decoration:none;color:white;">
										<img src="http://144.76.72.53:100/logist/game_cosmoslot/oauth/ok_32.png" alt="odnoklassniki">
									<br>
									<font color="black">Одноклассники</font></a>
								</td>
								
								<td align="center" style="width: 20%">&nbsp;
								</td>
								<td align="center" style="width: 40%">
									<a href="/login?type=vk" style="border:none;text-decoration:none;color:white;">
										<img src="http://144.76.72.53:100/logist/game_cosmoslot/oauth/vk_32.png" alt="vkontakte">
									<br>
									<font color="black">Вконтакте</font></a>
								</td>
							</tr></tbody>
						</table>
					</td>
				</tr></table>
			</center>
        </div>
      </div>
    </form>
    </body>
</html>