<!DOCTYPE html>
<html>
    <head>
        <title>Ridemate</title>
        <link rel="stylesheet" href="../css/reset.css" type="text/css">
        <link rel="stylesheet" href="../css/main.css?t=1" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <div style="border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
    <table><tbody>
    	<tr><td style="color: white" colspan="2" align="center"><%= @user.login %><br>Ваш ID <%= @user.id.to_s %><br>
      <%= 'Пол: '+@user.sex.to_s+', Возраст: '+@user.age.to_s+' Аватарка: '+@user.image_url %>
      
      </td></tr>
      <tr><td style="color: white" colspan="2" align="center"></td></tr>
    </tbody></table>
    </body>
</html>