<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridemate</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bundle.min.js"></script>
  </head>
  <body>
  <% if @user.step == 0 %>
    <div class="header">
      <div class="container">
        <div class="header__title">Ridemate</div>
        <div class="header__discription">Сервис для поиска попутчиков</div>
      </div>
    </div>
    <form class="container validate" id="result">
      <div class="form__box">
      	<div class="form__title">Ваша роль:</div>
        <div class="form-group form-btn">
        <a class="btn btn-info btn-block" href="/next/2" role="button">Я Водитель</a>
        <a class="btn btn-info btn-block" href="/next/1" role="button">Я Попутчик</a>
        </div>
      </div>
    </form>
  <% elsif @user.step == 2 and @user.role == 1 %>
  	<form class="container validate" id="result" action="/about_me" method="post">
      <div class="form__box">
      	<div class="form__title">Расскажите о себе:</div>
        <div class="form-group form-btn">
        	<div class="form-group">
	          <div class="label__title">Марка машины:</div>
	          <input class="form-control" type="text" name="car" required placeholder="">
	        </div>
        </div>
        
        <div class="form-group">
        	<div class="label__title">Курите?</div>
			<input type="radio" name="smoke" value="1"> Да<Br>
   			<input type="radio" name="smoke" value="0"> Нет<Br>
        </div>
        
        <div class="form-group">
          <div class="label__title">Стаж вождения:</div>
			<select name="exp">
					<option value="1">менее 3-х лет</option>
					<option value="2">От 3 до 7 лет</option>
					<option value="3">Более 7 лет</option>
			</select>          
        </div>
        
        <div class="form-group">
          <div class="label__title">Напишите подробнее о маршруте:</div>
			<textarea rows="3" style="width:100%;" name="about"></textarea>
        </div>

      </div>
    </form>
  <% elsif @user.step == 3 and @user.role == 1 %>
  	 <div class="header">
      <div class="container">
        <div class="header__title">Ridemate</div>
        <div class="header__discription">Сервис для поиска попутчиков</div>
      </div>
    </div>
    <form class="container validate" id="result">
      <div class="form__box">
      	<div class="form__title">Здесь будет список попутчиков, которые живут рядом с вами</div>
      </div>
    </form>
  <% elsif @user.step == 2 and @user.role == 0 %>
  	 <div class="header">
      <div class="container">
        <div class="header__title">Ridemate</div>
        <div class="header__discription">Сервис для поиска попутчиков</div>
      </div>
    </div>
    <form class="container validate" id="result">
      <div class="form__box">
      	<div class="form__title">Здесь будет список водителей, которые живут рядом с вами</div>
      </div>
    </form>
  <% elsif @user.step == 1 %>
  	<link rel="stylesheet" href="/themes/base/jquery.ui.all.css">
	<script src="/jquery-1.7.1.js"></script>
	<script src="/ui/jquery.ui.core.js"></script>
	<script src="/ui/jquery.ui.widget.js"></script>
	<script src="/ui/jquery.ui.position.js"></script>
	<script src="/ui/jquery.ui.autocomplete.js"></script>
  	
  	<script type="text/javascript">
	$(function() {
		var projects = [
			{label: "1-й Верхний переулок"},
			{label: "1-й Муринский проспект"},
			{label: "1-й Озерковский переулок"},
			{label: "1-й Предпортовый проезд"},
			{label: "1-й Рабфаковский переулок"},
			{label: "1-й Рыбацкий проезд"},
			{label: "1-я Алексеевская улица"},
			{label: "1-я Березовая аллея"},
			{label: "1-я Жерновская улица"},
			{label: "1-я Конная Лахта улица"},
			{label: "1-я Красноармейская улица"},
			{label: "1-я Никитинская улица"},
			{label: "1-я Полевая улица"},
			{label: "1-я Поперечная улица"},
			{label: "1-я Советская улица"},
			{label: "1-я Утиная улица"},
			{label: "10-я Красноармейская улица"},
			{label: "10-я Советская улица"},
			{label: "11-я Красноармейская улица"},
			{label: "12-я Красноармейская улица"},
			{label: "13-я Красноармейская улица"},
			{label: "2-й Верхний переулок"},
			{label: "2-й Луч улица"},
			{label: "2-й Муринский проспект"},
			{label: "2-й Озерковский переулок"},
			{label: "2-й Предпортовый проезд"},
			{label: "2-й Рыбацкий проезд"},
			{label: "2-я Алексеевская улица"},
			{label: "2-я Березовая аллея"},
			{label: "2-я Жерновская улица"},
			{label: "2-я Комсомольская улица"},
			{label: "2-я Конная Лахта улица"},
			{label: "2-я Красноармейская улица"},
			{label: "2-я Никитинская улица"},
			{label: "2-я Полевая улица"},
			{label: "2-я Поперечная улица"},
			{label: "2-я Советская улица"},
			{label: "2-я Утиная улица"},
			{label: "3-й Верхний переулок"},
			{label: "3-й Озерковский переулок"},
			{label: "3-й Предпортовый проезд"},
			{label: "3-й Рыбацкий проезд"},
			{label: "3-я Жерновская улица"},
			{label: "3-я Конная Лахта улица"},
			{label: "3-я Красноармейская улица"},
			{label: "3-я Поперечная улица"},
			{label: "3-я Советская улица"},
			{label: "4-й Верхний переулок"},
			{label: "4-й Предпортовый проезд"},
			{label: "4-й Рыбацкий проезд"},
			{label: "4-я Жерновская улица"},
			{label: "4-я Красноармейская улица"},
			{label: "4-я Поперечная улица"},
			{label: "4-я Советская улица"},
			{label: "5-й Верхний переулок"},
			{label: "5-й Предпортовый проезд"},
			{label: "5-й Рыбацкий проезд"},
			{label: "5-я Жерновская улица"},
			{label: "5-я Красноармейская улица"},
			{label: "5-я Поперечная улица"},
			{label: "5-я Советская улица"},
			{label: "6-й Верхний переулок"},
			{label: "6-й Предпортовый проезд"},
			{label: "6-й Рыбацкий проезд"},
			{label: "6-я Жерновская улица"},
			{label: "6-я Красноармейская улица"},
			{label: "6-я Поперечная улица"},
			{label: "6-я Советская улица"},
			{label: "7-й Верхний переулок"},
			{label: "7-й Предпортовый проезд"},
			{label: "7-я Красноармейская улица"},
			{label: "7-я Поперечная улица"},
			{label: "7-я Советская улица"},
			{label: "8-й Верхний переулок"},
			{label: "8-й Рыбацкий проезд"},
			{label: "8-я Красноармейская улица"},
			{label: "8-я Поперечная улица"},
			{label: "8-я Советская улица"},
			{label: "9-я Красноармейская улица"},
			{label: "9-я Советская улица"},
			{label: "Абросимова улица"},
			{label: "Авангардная улица"},
			{label: "Авиаконструкторов проспект"},
			{label: "Авиационная улица"},
			{label: "Аврова улица"},
			{label: "Австрийская площадь"},
			{label: "Автобусная улица"},
			{label: "Автобусный переулок"},
			{label: "Автовская улица"},
			{label: "Автогенная улица"},
			{label: "Автомобильная улица"},
			{label: "Агатов переулок"},
			{label: "Адмирала Трибуца улица"},
			{label: "Адмирала Черокова улица"},
			{label: "Адмиралтейский проезд"},
			{label: "Адмиралтейский проспект"},
			{label: "Адмиральский проезд"},
			{label: "Азовская улица"},
			{label: "Азовский переулок"},
			{label: "Академика Байкова улица"},
			{label: "Академика Глушко алеея"},
			{label: "Академика Иоффе площадь"},
			{label: "Академика Климова площадь"},
			{label: "Академика Константинова улица"},
			{label: "Академика Крылова улица"},
			{label: "Академика Лебедева улица"},
			{label: "Академика Лихачева алеея"},
			{label: "Академика Лихачева площадь"},
			{label: "Академика Павлова улица"},
			{label: "Академика Сахарова площадь"},
			{label: "Академика Шиманского улица"},
			{label: "Академический переулок"},
			{label: "Аккуратова улица"},
			{label: "Актерский проезд"},
			{label: "Александра Блока улица"},
			{label: "Александра Матросова улица"},
			{label: "Александра Невского площадь"},
			{label: "Александра Невского улица"},
			{label: "Александра Ульянова улица"},
			{label: "Александровская линия"},
			{label: "Александровская улица"},
			{label: "Александровский переулок"},
			{label: "Александровской Фермы проспект"},
			{label: "Алтайская улица"},
			{label: "Альпийский переулок"},
			{label: "Амурская улица"},
			{label: "Английский проспект"},
			{label: "Андреевская улица"},
			{label: "Аникушинская аллея"},
			{label: "Анисимовская дорога"},
			{label: "Аннинское шоссе"},
			{label: "Антоненко переулок"},
			{label: "Антонова-Овсеенко улица"},
			{label: "Антоновская улица"},
			{label: "Апраксин переулок"},
			{label: "Апрельская улица"},
			{label: "Аптекарский переулок"},
			{label: "Аптекарский проспект"},
			{label: "Арктическая улица"},
			{label: "Арсенальная улица"},
			{label: "Арсеньевский переулок"},
			{label: "Артиллерийская улица"},
			{label: "Артиллерийский переулок"},
			{label: "Асафьева улица"},
			{label: "Астраханская улица"},
			{label: "Атаманская улица"},
			{label: "Афанасьевская улица"},
			{label: "Афонская улица"},
			{label: "Аэродромная улица"},
			{label: "Бабанова улица"},
			{label: "Бабушкина улица"},
			{label: "Бадаева улица"},
			{label: "Байконурская улица"},
			{label: "Бакунина проспект"},
			{label: "Балканская площадь"},
			{label: "Балканская улица"},
			{label: "Балтийская улица"},
			{label: "Балтийских Юнг площадь"},
			{label: "Балтийского вокзала площадь"},
			{label: "Балтфлота площадь"},
			{label: "Банковский переулок"},
			{label: "Барклаевская улица"},
			{label: "Бармалеева улица"},
			{label: "Барочная улица"},
			{label: "Баррикадная улица"},
			{label: "Басков переулок"},
			{label: "Бассейная улица"},
			{label: "Батайский переулок"},
			{label: "Батарейная дорога"},
			{label: "Беговая улица"},
			{label: "Безымянная улица"},
			{label: "Белградская улица"},
			{label: "Белевский проспект"},
			{label: "Белинского площадь"},
			{label: "Белинского улица"},
			{label: "Беломорская улица"},
			{label: "Белоостровская улица"},
			{label: "Белорусская улица"},
			{label: "Белоусова улица"},
			{label: "Белы Куна улица"},
			{label: "Белышева улица"},
			{label: "Береговая улица"},
			{label: "Березовая улица"},
			{label: "Беринга улица"},
			{label: "Бестужевская улица"},
			{label: "Бехтерева площадь"},
			{label: "Бехтерева улица"},
			{label: "Библиотечный переулок"},
			{label: "Биржевая линия"},
			{label: "Биржевая площадь"},
			{label: "Биржевой переулок"},
			{label: "Биржевой проезд"},
			{label: "Благодатная улица"},
			{label: "Благоева улица"},
			{label: "Блохина улица"},
			{label: "Бобруйская улица"},
			{label: "Богатырский проспект"},
			{label: "Бойцова переулок"},
			{label: "Боковая аллея"},
			{label: "Бокситогорская улица"},
			{label: "Болотная улица"},
			{label: "Большая аллея"},
			{label: "Большая Горская улица"},
			{label: "Большая Десятинная улица"},
			{label: "Большая Зеленина улица"},
			{label: "Большая Конюшенная улица"},
			{label: "Большая линия"},
			{label: "Большая Монетная улица"},
			{label: "Большая Морская улица"},
			{label: "Большая Московская улица"},
			{label: "Большая Озерная улица"},
			{label: "Большая Подьяческая улица"},
			{label: "Большая Пороховская улица"},
			{label: "Большая Посадская улица"},
			{label: "Большая Пушкарская улица"},
			{label: "Большая Разночинная улица"},
			{label: "Большая Яблоновка"},
			{label: "Большевиков проспект"},
			{label: "Большеохтинский проспект"},
			{label: "Большой Васильевского острова проспект"},
			{label: "Большой Казачий переулок"},
			{label: "Большой Петроградской стороны проспект"},
			{label: "Большой Сампсониевский проспект"},
			{label: "Большой Смоленский проспект"},
			{label: "Бонч-Бруевича улица"},
			{label: "Боровая улица"},
			{label: "Бородин переулок"},
			{label: "Бородинская улица"},
			{label: "Боткинская улица"},
			{label: "Боцманская улица"},
			{label: "Братская улица"},
			{label: "Брестский бульвар"},
			{label: "Бринько переулок"},
			{label: "Броневая улица"},
			{label: "Бронницкая улица"},
			{label: "Брюсовская улица"},
			{label: "Брянская улица"},
			{label: "Брянцева улица"},
			{label: "Бугский переулок"},
			{label: "Будапештская улица"},
			{label: "Булавского улица"},
			{label: "Бумажная улица"},
			{label: "Буренина улица"},
			{label: "Бурцева улица"},
			{label: "Бутлерова улица"},
			{label: "Бухарестская улица"},
			{label: "Быковская улица"},
			{label: "Вавиловых улица"},
			{label: "Вагонный проезд"},
			{label: "Вазаский переулок"},
			{label: "Вакуленчука улица"},
			{label: "Ванеева улица"},
			{label: "Варваринская улица"},
			{label: "Варфоломеевская улица"},
			{label: "Варшавская площадь"},
			{label: "Варшавская улица"},
			{label: "Варшавский проезд"},
			{label: "Васенко улица"},
			{label: "Васи Алексеева улица"},
			{label: "Васильковая улица"},
			{label: "Ватутина улица"},
			{label: "Введенская улица"},
			{label: "Введенский канал"},
			{label: "Веденеева улица"},
			{label: "Вербная улица"},
			{label: "Верейская улица"},
			{label: "Верности улица"},
			{label: "Вертолетная улица"},
			{label: "Верхняя улица"},
			{label: "Веры Слуцкой улица"},
			{label: "Весельная улица"},
			{label: "Весенняя улица"},
			{label: "Ветеранов проспект"},
			{label: "Взлетная улица"},
			{label: "Виленский переулок"},
			{label: "Виндавская улица"},
			{label: "Винокурцевский проезд"},
			{label: "Витебская площадь"},
			{label: "Витебская улица"},
			{label: "Витебская-Сортировочная улица"},
			{label: "Витебский проспект"},
			{label: "Витковского улица"},
			{label: "Владимирская площадь"},
			{label: "Владимирский проспект"},
			{label: "Внуковская улица"},
			{label: "Водопроводная улица"},
			{label: "Водопроводный переулок"},
			{label: "Военная улица"},
			{label: "Военных Медиков площадь"},
			{label: "Воздухоплавательная улица"},
			{label: "Вознесенский проспект"},
			{label: "Возрождения улица"},
			{label: "Вокзальный проезд"},
			{label: "Волго-Донской проспект"},
			{label: "Волжский переулок"},
			{label: "Волковский проспект"},
			{label: "Володи Ермака улица"},
			{label: "Волоколамский переулок"},
			{label: "Волховский переулок"},
			{label: "Волхонское шоссе"},
			{label: "Волынкин переулок"},
			{label: "Волынский переулок"},
			{label: "Вольновская улица"},
			{label: "Воронежская улица"},
			{label: "Воронинский проезд"},
			{label: "Ворошилова улица"},
			{label: "Воскова улица"},
			{label: "Воскресенский проезд"},
			{label: "Восстания площадь"},
			{label: "Восстания улица"},
			{label: "Всеволода Вишневского улица"},
			{label: "Всеволожская улица"},
			{label: "Выборгская улица"},
			{label: "Выборгское шоссе"},
			{label: "Высоковольтная улица"},
			{label: "Вяземский переулок"},
			{label: "Вязовая улица"},
			{label: "Гаванская улица"},
			{label: "Гаврская улица"},
			{label: "Гагаринская улица"},
			{label: "Газовая улица"},
			{label: "Гаккелевская улица"},
			{label: "Галерная улица"},
			{label: "Галерный проезд"},
			{label: "Галстяна улица"},
			{label: "Гамбургская площадь"},
			{label: "Гангутская улица"},
			{label: "Гапсальская улица"},
			{label: "Гаражный проезд"},
			{label: "Гастелло улица"},
			{label: "Гатчинская улица"},
			{label: "Гатчинское шоссе"},
			{label: "Гданьская улица"},
			{label: "Гдовская улица"},
			{label: "Гельсингфорсская улица"},
			{label: "Генерала Симоняка улица"},
			{label: "Генерала Хрулева улица"},
			{label: "Геологическая улица"},
			{label: "Герасимовская улица"},
			{label: "Героев проспект"},
			{label: "Гжатская улица"},
			{label: "Гидротехников улица"},
			{label: "Главная улица"},
			{label: "Гладкова улица"},
			{label: "Глазурная улица"},
			{label: "Глеба Успенского улица"},
			{label: "Глинки улица"},
			{label: "Глиняная улица"},
			{label: "Глухарская улица"},
			{label: "Глухая Зеленина улица"},
			{label: "Глухоозерское шоссе"},
			{label: "Головкинская улица"},
			{label: "Гомельская а улица"},
			{label: "Гончарная улица"},
			{label: "Горная улица"},
			{label: "Гороховая улица"},
			{label: "Госпитальная улица"},
			{label: "Гражданская улица"},
			{label: "Гражданский проспект"},
			{label: "Гранитная улица"},
			{label: "Граничная улица"},
			{label: "Графова улица"},
			{label: "Графский переулок"},
			{label: "Графский проезд"},
			{label: "Графтио улица"},
			{label: "Гренадерская улица"},
			{label: "Греческая площадь"},
			{label: "Греческий проспект"},
			{label: "Грибакиных улица"},
			{label: "Грибалевой улица"},
			{label: "Гривцова переулок"},
			{label: "Гродненский переулок"},
			{label: "Громова улица"},
			{label: "Грота улица"},
			{label: "Грузинская улица"},
			{label: "Грузовой проезд"},
			{label: "Губина улица"},
			{label: "Гусева улица"},
			{label: "Дальневосточный проспект"},
			{label: "Даля улица"},
			{label: "Дачный т проспект"},
			{label: "Двинская улица"},
			{label: "Двинский переулок"},
			{label: "Дворцовая площадь"},
			{label: "Дворцовый проезд"},
			{label: "Девятого Января проспект"},
			{label: "Дегтярева улица"},
			{label: "Дегтярная улица"},
			{label: "Дегтярный переулок"},
			{label: "Декабристов переулок"},
			{label: "Декабристов улица"},
			{label: "Демонстрационный проезд"},
			{label: "Демьяна Бедного улица"},
			{label: "Депутатская улица"},
			{label: "Державинский переулок"},
			{label: "Дерптский переулок"},
			{label: "Десантников улица"},
			{label: "Детская улица"},
			{label: "Джамбула переулок"},
			{label: "Джона Рида улица"},
			{label: "Диагональная улица"},
			{label: "Дибуновская улица"},
			{label: "Дивенская улица"},
			{label: "Димитрова улица"},
			{label: "Динамо проспект"},
			{label: "Динамовская улица"},
			{label: "Диспетчерская улица"},
			{label: "Дмитрия Устинова улица"},
			{label: "Дмитровский переулок"},
			{label: "Днепровский переулок"},
			{label: "Днепропетровская улица"},
			{label: "Доблести улица"},
			{label: "Добровольцев улица"},
			{label: "Добролюбова проспект"},
			{label: "Добрушская улица"},
			{label: "Дойников переулок"},
			{label: "Доктора Короткова улица"},
			{label: "Долгоозерная улица"},
			{label: "Домодедовская улица"},
			{label: "Домостроительная улица"},
			{label: "Донская улица"},
			{label: "Достоевского улица"},
			{label: "Дрезденская улица"},
			{label: "Дровяная улица"},
			{label: "Дровяной переулок"},
			{label: "Друскеникский переулок"},
			{label: "Дубленский переулок"},
			{label: "Дубовая аллея"},
			{label: "Дубровская улица"},
			{label: "Дудко улица"},
			{label: "Думская улица"},
			{label: "Дунайский проспект"},
			{label: "Дыбенко улица"},
			{label: "Евгеньевская улица"},
			{label: "Евдокима Огнева улица"},
			{label: "Европы площадь"},
			{label: "Егорова улица"},
			{label: "Екатерининский проспект"},
			{label: "Елагинский проспект"},
			{label: "Еленинская улица"},
			{label: "Еленинский проезд"},
			{label: "Елецкая улица"},
			{label: "Елизаветинская улица"},
			{label: "Елизарова проспект"},
			{label: "Елисеевская улица"},
			{label: "Ельницкая улица"},
			{label: "Емельянова улица"},
			{label: "Енотаевская улица"},
			{label: "Есенина улица"},
			{label: "Ефимова улица"},
			{label: "Жака Дюкло улица"},
			{label: "Ждановская улица"},
			{label: "Железноводская улица"},
			{label: "Железнодорожная улица"},
			{label: "Железнодорожный проспект"},
			{label: "Жени Егоровой улица"},
			{label: "Жертв Девятого Января я улица"},
			{label: "Жукова улица"},
			{label: "Жуковского улица"},
			{label: "Забайкальская улица"},
			{label: "Заводская улица"},
			{label: "Загородная улица"},
			{label: "Загородный проспект"},
			{label: "Загребский бульвар"},
			{label: "Задворная улица"},
			{label: "Зайцева улица"},
			{label: "Замковая улица"},
			{label: "Замшина улица"},
			{label: "Замятин переулок"},
			{label: "Заневская площадь"},
			{label: "Заневский проспект"},
			{label: "Заозерная улица"},
			{label: "Западная аллея"},
			{label: "Заповедная улица"},
			{label: "Запорожская улица"},
			{label: "Заречная улица"},
			{label: "Зарубинская улица"},
			{label: "Заславская улица"},
			{label: "Заставская улица"},
			{label: "Заусадебная улица"},
			{label: "Захаров переулок"},
			{label: "Захарьевская улица"},
			{label: "Заячий переулок"},
			{label: "Звездная улица"},
			{label: "Звенигородская улица"},
			{label: "Зверинская улица"},
			{label: "Здоровцева улица"},
			{label: "Зеленая улица"},
			{label: "Зеленогорская улица"},
			{label: "Земледельческая улица"},
			{label: "Земледельческий переулок"},
			{label: "Зенитчиков улица"},
			{label: "Зеркальный переулок"},
			{label: "Зины Портновой улица"},
			{label: "Зодчего Росси улица"},
			{label: "Зои Космодемьянской улица"},
			{label: "Зольная улица"},
			{label: "Зоологический переулок"},
			{label: "Зотовский проспект"},
			{label: "Зубковская улица"},
			{label: "Ивана Фомина улица"},
			{label: "Ивана Черных улица"},
			{label: "Ивановская улица"},
			{label: "Ижорская улица"},
			{label: "Измайловский проспект"},
			{label: "Ильюшина улица"},
			{label: "Индустриальный проспект"},
			{label: "Инженерная улица"},
			{label: "Иностранный переулок"},
			{label: "Институтский переулок"},
			{label: "Институтский проспект"},
			{label: "Инструментальная линия"},
			{label: "Инструментальная улица"},
			{label: "Ириновский проспект"},
			{label: "Иркутская улица"},
			{label: "Исаакиевская площадь"},
			{label: "Искровский проспект"},
			{label: "Искусств площадь"},
			{label: "Исполкомская улица"},
			{label: "Испытателей проспект"},
			{label: "Итальянская улица"},
			{label: "Кавалергардская улица"},
			{label: "Кадетская линия"},
			{label: "Кадетский переулок"},
			{label: "Казанская площадь"},
			{label: "Казанская улица"},
			{label: "Казначейская улица"},
			{label: "Калинина площадь"},
			{label: "Калинина улица"},
			{label: "Калинкин переулок"},
			{label: "Калужский переулок"},
			{label: "Калязинская улица"},
			{label: "Каменноостровский проспект"},
			{label: "Камская улица"},
			{label: "Камчатская улица"},
			{label: "Камышинская улица"},
			{label: "Камышовая улица"},
			{label: "Канареечная улица"},
			{label: "Канатная улица"},
			{label: "Канонерская улица"},
			{label: "Кантемировская улица"},
			{label: "Капитана Воронина улица"},
			{label: "Капитанская улица"},
			{label: "Капсюльное шоссе"},
			{label: "Караваевская улица"},
			{label: "Караваевский переулок"},
			{label: "Караванная улица"},
			{label: "Карбышева улица"},
			{label: "Карельский переулок"},
			{label: "Карла Либкнехта улица"},
			{label: "Карла Фаберже площадь"},
			{label: "Карпатская улица"},
			{label: "Карпинского улица"},
			{label: "Карповский переулок"},
			{label: "Карташихина улица"},
			{label: "Касимовская улица"},
			{label: "Каховского переулок"},
			{label: "Кваренги переулок"},
			{label: "Кемеровская улица"},
			{label: "Кемская улица"},
			{label: "Керченский переулок"},
			{label: "Кибальчича улица"},
			{label: "Киевская улица"},
			{label: "КИМа проспект"},
			{label: "Кингисеппское шоссе"},
			{label: "Кирилловская улица"},
			{label: "Киришская улица"},
			{label: "Кировская площадь"},
			{label: "Кировская улица"},
			{label: "Кирочная улица"},
			{label: "Кирпичный переулок"},
			{label: "Кленовая улица"},
			{label: "Климов переулок"},
			{label: "Клиническая улица"},
			{label: "Клинский проспект"},
			{label: "Клочков переулок"},
			{label: "Клубный переулок"},
			{label: "Ключевая улица"},
			{label: "Книпович улица"},
			{label: "Ковалевская улица"},
			{label: "Ковенский переулок"},
			{label: "Кожевенная линия"},
			{label: "Козлова улица"},
			{label: "Козловский переулок"},
			{label: "Кокушкин переулок"},
			{label: "Коли Томчака улица"},
			{label: "Коллонтай улица"},
			{label: "Колодезная улица"},
			{label: "Колокольная улица"},
			{label: "Коломенская улица"},
			{label: "Коломяжский проспект"},
			{label: "Колпинская улица"},
			{label: "Колпинский переулок"},
			{label: "Колхозная улица"},
			{label: "Кольская улица"},
			{label: "Кольцова улица"},
			{label: "Комарова улица"},
			{label: "Комендантская площадь"},
			{label: "Комендантский проспект"},
			{label: "Комиссара Смирнова улица"},
			{label: "Коммуны улица"},
			{label: "Композиторов улица"},
			{label: "Комсомола улица"},
			{label: "Комсомольская площадь"},
			{label: "Кондратенко улица"},
			{label: "Кондратьевский проспект"},
			{label: "Конная площадь"},
			{label: "Конная улица"},
			{label: "Конногвардейский бульвар"},
			{label: "Конногвардейский переулок"},
			{label: "Коннолахтинская дорога"},
			{label: "Коннолахтинский проспект"},
			{label: "Константина Заслонова улица"},
			{label: "Константиновский переулок"},
			{label: "Константиновский проспект"},
			{label: "Константиноградская улица"},
			{label: "Конституции площадь"},
			{label: "Конторская улица"},
			{label: "Конюшенная площадь"},
			{label: "Конюшенный переулок"},
			{label: "Корабельная улица"},
			{label: "Кораблестроителей улица"},
			{label: "Корнеева улица"},
			{label: "Королева проспект"},
			{label: "Короленко улица"},
			{label: "Корпусная улица"},
			{label: "Корякова улица"},
			{label: "Косая линия"},
			{label: "Косинова улица"},
			{label: "Космонавтов проспект"},
			{label: "Костромская улица"},
			{label: "Костромской проспект"},
			{label: "Костюшко улица"},
			{label: "Косыгина проспект"},
			{label: "Котельникова алеея"},
			{label: "Котина улица"},
			{label: "Котовского улица"},
			{label: "Красина улица"},
			{label: "Красноармейская улица"},
			{label: "Красноборский переулок"},
			{label: "Красногвардейская площадь"},
			{label: "Красногвардейский переулок"},
			{label: "Красного Курсанта переулок"},
			{label: "Красного Курсанта улица"},
			{label: "Красного Текстильщика улица"},
			{label: "Красноградский переулок"},
			{label: "Краснодонская улица"},
			{label: "Краснопутиловская улица"},
			{label: "Красносельская улица"},
			{label: "Красносельское шоссе"},
			{label: "Красных Зорь бульвар"},
			{label: "Красных Партизан улица"},
			{label: "Красуцкого улица"},
			{label: "Кременчугская улица"},
			{label: "Крестовский проспект"},
			{label: "Кржижановского улица"},
			{label: "Кричевский переулок"},
			{label: "Кронверкская улица"},
			{label: "Кронверкский проспект"},
			{label: "Кронштадтская площадь"},
			{label: "Кронштадтская улица"},
			{label: "Кропоткина улица"},
			{label: "Круглый переулок"},
			{label: "Круговая улица"},
			{label: "Крупской улица"},
			{label: "Крыленко улица"},
			{label: "Крылова переулок"},
			{label: "Крюкова улица"},
			{label: "Кубанская улица"},
			{label: "Кубанский переулок"},
			{label: "Кубинская улица"},
			{label: "Кузнецова проспект"},
			{label: "Кузнецовская улица"},
			{label: "Кузнечный переулок"},
			{label: "Куйбышева улица"},
			{label: "Кулибина площадь"},
			{label: "Культуры площадь"},
			{label: "Культуры проспект"},
			{label: "Купчинская улица"},
			{label: "Куракина улица"},
			{label: "Курляндская улица"},
			{label: "Курская улица"},
			{label: "Курчатова улица"},
			{label: "Курятная линия"},
			{label: "Кустарный переулок"},
			{label: "Кустодиева улица"},
			{label: "Кушелевская дорога"},
			{label: "Лабораторная улица"},
			{label: "Лабораторный проспект"},
			{label: "Лабутина улица"},
			{label: "Лаврский проезд"},
			{label: "Лагерное шоссе"},
			{label: "Лагоды улица"},
			{label: "Лазаретный переулок"},
			{label: "Лазо улица"},
			{label: "Ланская улица"},
			{label: "Ланское шоссе"},
			{label: "Лапинский проспект"},
			{label: "Латышских Стрелков улица"},
			{label: "Лахтинская улица"},
			{label: "Лахтинский проспект"},
			{label: "Левашовский проспект"},
			{label: "Лени Голикова улица"},
			{label: "Ленина площадь"},
			{label: "Ленина проспект"},
			{label: "Ленина улица"},
			{label: "Ленинградское шоссе"},
			{label: "Ленинский проспект"},
			{label: "Ленская улица"},
			{label: "Ленсовета улица"},
			{label: "Лермонтовский переулок"},
			{label: "Лермонтовский проспект"},
			{label: "Лесная улица"},
			{label: "Леснозаводская улица"},
			{label: "Лесоовая улица парк"},
			{label: "Лессига алеея"},
			{label: "Летняя аллея"},
			{label: "Летчика Пилютова улица"},
			{label: "Либавский переулок"},
			{label: "Лиговский переулок"},
			{label: "Лиговский проспект"},
			{label: "Лидинская улица"},
			{label: "Лизы Чайкиной улица"},
			{label: "Лисичанская улица"},
			{label: "Лиственная улица"},
			{label: "Литейный проспект"},
			{label: "Литераторов улица"},
			{label: "Литовская улица"},
			{label: "Лифляндская улица"},
			{label: "Лодейнопольская улица"},
			{label: "Лодыгина переулок"},
			{label: "Ломаная аллея"},
			{label: "Ломаная улица"},
			{label: "Ломовская улица"},
			{label: "Ломоносова переулок"},
			{label: "Ломоносова площадь"},
			{label: "Ломоносова улица"},
			{label: "Лопатина улица"},
			{label: "Лоцманская улица"},
			{label: "Луговая улица"},
			{label: "Лужская улица"},
			{label: "Луначарского проспект"},
			{label: "Лыжный переулок"},
			{label: "Льва Мациевича площадь"},
			{label: "Льва Толстого площадь"},
			{label: "Льва Толстого улица"},
			{label: "Львиный переулок"},
			{label: "Львовская улица"},
			{label: "Люблинский переулок"},
			{label: "Люботинский проспект"},
			{label: "Магнитогорская улица"},
			{label: "Майков переулок"},
			{label: "Макаренко переулок"},
			{label: "Макулатурный проезд"},
			{label: "Малая Балканская улица"},
			{label: "Малая Бухарестская улица"},
			{label: "Малая Горская улица"},
			{label: "Малая Гребецкая улица"},
			{label: "Малая Зеленина улица"},
			{label: "Малая Карпатская улица"},
			{label: "Малая Каштановая аллея"},
			{label: "Малая Конюшенная улица"},
			{label: "Малая Митрофаньевская улица"},
			{label: "Малая Монетная улица"},
			{label: "Малая Морская улица"},
			{label: "Малая Московская улица"},
			{label: "Малая Объездная улица"},
			{label: "Малая Озерная улица"},
			{label: "Малая Подьяческая улица"},
			{label: "Малая Посадская улица"},
			{label: "Малая Пушкарская улица"},
			{label: "Малая Разночинная улица"},
			{label: "Малая Садовая улица"},
			{label: "Малодетскосельский проспект"},
			{label: "Малоохтинский проспект"},
			{label: "Малыгина улица"},
			{label: "Малый Васильевского острова проспект"},
			{label: "Малый Казачий переулок"},
			{label: "Малый Петроградской стороны проспект"},
			{label: "Малый Сампсониевский проспект"},
			{label: "Манежная площадь"},
			{label: "Манежный переулок"},
			{label: "Манчестерская улица"},
			{label: "Марата улица"},
			{label: "Мариинская улица"},
			{label: "Мариинский проезд"},
			{label: "Маринеско улица"},
			{label: "Маркина улица"},
			{label: "Марсово поле"},
			{label: "Мартыновская улица"},
			{label: "Маршала Блюхера проспект"},
			{label: "Маршала Говорова улица"},
			{label: "Маршала Жукова проспект"},
			{label: "Маршала Захарова улица"},
			{label: "Маршала Казакова улица"},
			{label: "Маршала Мерецкова улица"},
			{label: "Маршала Новикова улица"},
			{label: "Маршала Тухачевского улица"},
			{label: "Масляный канал"},
			{label: "Масляный переулок"},
			{label: "Мастерская улица"},
			{label: "Матвеева переулок"},
			{label: "Матвеевский переулок"},
			{label: "Матисов переулок"},
			{label: "Матроса Железняка улица"},
			{label: "Матюшенко улица"},
			{label: "Маяковского улица"},
			{label: "Мгинская улица"},
			{label: "Мебельная улица"},
			{label: "Мебельный проезд"},
			{label: "Медиков проспект"},
			{label: "Межозерная улица"},
			{label: "Мезенская улица"},
			{label: "Мелитопольский переулок"},
			{label: "Мельничная улица"},
			{label: "Мельничный переулок"},
			{label: "Менделеевская линия"},
			{label: "Менделеевская улица"},
			{label: "Меншиковский проспект"},
			{label: "Металлистов проспект"},
			{label: "Метростроевцев улица"},
			{label: "Мечникова проспект"},
			{label: "Миллионная улица"},
			{label: "Минеральная улица"},
			{label: "Минский переулок"},
			{label: "Мира улица"},
			{label: "Миргородская улица"},
			{label: "Миронова улица"},
			{label: "Митавский переулок"},
			{label: "Митрофаньевский тупик"},
			{label: "Митрофаньевское шоссе"},
			{label: "Михайлова улица"},
			{label: "Михайловская улица"},
			{label: "Михайловский переулок"},
			{label: "Михайловский проезд"},
			{label: "Мичманская улица"},
			{label: "Мичуринская улица"},
			{label: "Можайская улица"},
			{label: "Можайского улица"},
			{label: "Моисеенко улица"},
			{label: "Молдагуловой улица"},
			{label: "Молодежный переулок"},
			{label: "Мончегорская улица"},
			{label: "Моравский переулок"},
			{label: "Морская улица"},
			{label: "Морской переулок"},
			{label: "Морской Пехоты улица"},
			{label: "Морской проспект"},
			{label: "Морской Славы площадь"},
			{label: "Москательная линия"},
			{label: "Москательный переулок"},
			{label: "Московская площадь"},
			{label: "Московские Ворота площадь"},
			{label: "Московский проспект"},
			{label: "Московское шоссе"},
			{label: "Мостовая улица"},
			{label: "Моховая улица"},
			{label: "Мошков переулок"},
			{label: "Мраморный переулок"},
			{label: "Мужества площадь"},
			{label: "Мурзинская улица"},
			{label: "Муринская дорога"},
			{label: "Мучной переулок"},
			{label: "Мытнинская площадь"},
			{label: "Мытнинская улица"},
			{label: "Мышкинская улица"},
			{label: "Мясная улица"},
			{label: "Набережная улица"},
			{label: "Наличная улица"},
			{label: "Наличный переулок"},
			{label: "Нарвский проспект"},
			{label: "Народная улица"},
			{label: "Народного Ополчения проспект"},
			{label: "Наставников проспект"},
			{label: "Науки проспект"},
			{label: "Нахимова улица"},
			{label: "Невельская улица"},
			{label: "Невзоровой улица"},
			{label: "Невский проспект"},
			{label: "Нежинская улица"},
			{label: "Нейшлотский переулок"},
			{label: "Некрасова улица"},
			{label: "Неманский переулок"},
			{label: "Непокоренных проспект"},
			{label: "Нестерова переулок"},
			{label: "Нефтяная дорога"},
			{label: "Нижне-Каменская улица"},
			{label: "Нижняя Полевая улица"},
			{label: "Никольская площадь"},
			{label: "Никольская улица"},
			{label: "Никольский переулок"},
			{label: "Новаторов бульвар"},
			{label: "Новая улица"},
			{label: "Новгородская улица"},
			{label: "Ново-Александровская улица"},
			{label: "Ново-Никитинская улица"},
			{label: "Ново-Рыбинская улица"},
			{label: "Новоалександровская улица"},
			{label: "Новобелицкая улица"},
			{label: "Новоизмайловский проспект"},
			{label: "Новоколомяжский проспект"},
			{label: "Новоладожская улица"},
			{label: "Новолитовская улица"},
			{label: "Новомалиновская дорога"},
			{label: "Новоовсянниковская улица"},
			{label: "Новороссийская улица"},
			{label: "Новорощинская улица"},
			{label: "Новоселов улица"},
			{label: "Новосельковская улица"},
			{label: "Новосибирская улица"},
			{label: "Новосильцевский переулок"},
			{label: "Новостроек улица"},
			{label: "Новоутиная улица"},
			{label: "Новочеркасский проспект"},
			{label: "Оборонная улица"},
			{label: "Обручевых улица"},
			{label: "Обуховская площадь"},
			{label: "Обуховской Обороны проспект"},
			{label: "Объездное шоссе"},
			{label: "Одесская улица"},
			{label: "Одоевского улица"},
			{label: "Озерковский проспект"},
			{label: "Озерная улица"},
			{label: "Озерной переулок"},
			{label: "Окраинная улица"},
			{label: "Олеко Дундича улица"},
			{label: "Олонецкая улица"},
			{label: "Ольги Берггольц улица"},
			{label: "Ольги Форш улица"},
			{label: "Ольгина улица"},
			{label: "Ольминского улица"},
			{label: "Ольховая улица"},
			{label: "Омская улица"},
			{label: "Онежский проезд"},
			{label: "Опочинина улица"},
			{label: "Оптиков улица"},
			{label: "Опытная улица"},
			{label: "Ораниенбаумская улица"},
			{label: "Орбели улица"},
			{label: "Орджоникидзе улица"},
			{label: "Ординарная улица"},
			{label: "Оренбургская улица"},
			{label: "Орловская улица"},
			{label: "Орловский переулок"},
			{label: "Оружейника Федорова улица"},
			{label: "Осипенко улица"},
			{label: "Оскаленко улица"},
			{label: "Остоумова улица"},
			{label: "Островского площадь"},
			{label: "Остропольский переулок"},
			{label: "Отважных улица"},
			{label: "Отечественная улица"},
			{label: "Охотничий переулок"},
			{label: "Очаковская улица"},
			{label: "Павлоградский переулок"},
			{label: "Панфилова улица"},
			{label: "Парадная улица"},
			{label: "Парашютная улица"},
			{label: "Парголовская улица"},
			{label: "Парковая улица"},
			{label: "Партизана Германа улица"},
			{label: "Партизанская улица"},
			{label: "Парусная улица"},
			{label: "Пархоменко проспект"},
			{label: "Пасторова улица"},
			{label: "Патриотов проспект"},
			{label: "Певческий переулок"},
			{label: "Пеньковая улица"},
			{label: "Первомайская улица"},
			{label: "Первомайский проспект"},
			{label: "Перевозная улица"},
			{label: "Перевозный переулок"},
			{label: "Передовиков улица"},
			{label: "Перекопская улица"},
			{label: "Перекупной переулок"},
			{label: "Перинная линия"},
			{label: "Перфильева улица"},
			{label: "Песковский переулок"},
			{label: "Песочная улица"},
			{label: "Пестеля улица"},
			{label: "Петергофское шоссе"},
			{label: "Петра Смородина улица"},
			{label: "Петровская коса"},
			{label: "Петровская площадь"},
			{label: "Петровская улица"},
			{label: "Петровский переулок"},
			{label: "Петровский проспект"},
			{label: "Петроградская улица"},
			{label: "Петрозаводская улица"},
			{label: "Петрозаводское шоссе"},
			{label: "Петропавловская улица"},
			{label: "Печатника Григорьева улица"},
			{label: "Печорская улица"},
			{label: "Пилотов улица"},
			{label: "Пинегина улица"},
			{label: "Пинский переулок"},
			{label: "Пионерская площадь"},
			{label: "Пионерская улица"},
			{label: "Пионерстроя улица"},
			{label: "Пирогова переулок"},
			{label: "Писарева улица"},
			{label: "Пискаревский проспект"},
			{label: "Планерная улица"},
			{label: "Пловдивская улица"},
			{label: "Плуталова улица"},
			{label: "Пляжевая улица"},
			{label: "Победы площадь"},
			{label: "Победы улица"},
			{label: "Поварской переулок"},
			{label: "Пограничника Гарькавого улица"},
			{label: "Подводника Кузьмина улица"},
			{label: "Подвойского улица"},
			{label: "Подгорная улица"},
			{label: "Подковырова улица"},
			{label: "Подольская улица"},
			{label: "Подрезова улица"},
			{label: "Подъездной переулок"},
			{label: "Поклонногорская улица"},
			{label: "Покрышева улица"},
			{label: "Полевая аллея"},
			{label: "Полевая Сабировская улица"},
			{label: "Полевая улица"},
			{label: "Полиграфмашевский проезд"},
			{label: "Поликарпова алеея"},
			{label: "Политехническая улица"},
			{label: "Полозова улица"},
			{label: "Полтавская улица"},
			{label: "Полтавский проезд"},
			{label: "Полюстровский проспект"},
			{label: "Полярников улица"},
			{label: "Помяловского улица"},
			{label: "Поперечная улица"},
			{label: "Портовая улица"},
			{label: "Поселковая улица"},
			{label: "Потапова улица"},
			{label: "Потемкинская улица"},
			{label: "Почтамтская улица"},
			{label: "Почтамтский переулок"},
			{label: "Поэтический бульвар"},
			{label: "Правды улица"},
			{label: "Пражская улица"},
			{label: "Прачечный переулок"},
			{label: "Предпортовая улица"},
			{label: "Преображенская площадь"},
			{label: "Прибалтийская площадь"},
			{label: "Прибрежная улица"},
			{label: "Придорожная аллея"},
			{label: "Прилукская улица"},
			{label: "Примакова улица"},
			{label: "Приморская улица"},
			{label: "Приморский проспект"},
			{label: "Приморское шоссе"},
			{label: "Провиантская улица"},
			{label: "Прогонная улица"},
			{label: "Прогонный переулок"},
			{label: "Прожекторная улица"},
			{label: "Прокофьева улица"},
			{label: "Пролетарский проспект"},
			{label: "Пролетарской Диктатуры площадь"},
			{label: "Пролетарской Диктатуры улица"},
			{label: "Промышленная улица"},
			{label: "Просвещения проспект"},
			{label: "Профессора Ивашенцова улица"},
			{label: "Профессора Качалова улица"},
			{label: "Профессора Попова улица"},
			{label: "Прудковский переулок"},
			{label: "Прядильный переулок"},
			{label: "Прямой проспект"},
			{label: "Псковская улица"},
			{label: "Пугачева улица"},
			{label: "Пудожская улица"},
			{label: "Пулковская улица"},
			{label: "Пулковское шоссе"},
			{label: "Пушкарский переулок"},
			{label: "Пушкинская улица"},
			{label: "Пятилеток проспект"},
			{label: "Рабочий переулок"},
			{label: "Рабфаковская улица"},
			{label: "Радищева переулок"},
			{label: "Радищева улица"},
			{label: "Раевского проспект"},
			{label: "Раздельная улица"},
			{label: "Разъезжая улица"},
			{label: "Ракитовская улица"},
			{label: "Расстанная улица"},
			{label: "Расстанный переулок"},
			{label: "Расстанный проезд"},
			{label: "Растрелли площадь"},
			{label: "Рашетова улица"},
			{label: "Ревельский переулок"},
			{label: "Революции шоссе"},
			{label: "Резная улица"},
			{label: "Резной переулок"},
			{label: "Рейсовая улица"},
			{label: "Ремесленная улица"},
			{label: "Рентгена улица"},
			{label: "Репина площадь"},
			{label: "Репина улица"},
			{label: "Репищева улица"},
			{label: "Репнинская улица"},
			{label: "Республиканская улица"},
			{label: "Речная улица"},
			{label: "Решетникова улица"},
			{label: "Ржевская площадь"},
			{label: "Ржевская улица"},
			{label: "Рижская улица"},
			{label: "Рижский проспект"},
			{label: "Римского-Корсакова проспект"},
			{label: "Рихарда Зорге улица"},
			{label: "Рогачевский переулок"},
			{label: "Розенштейна улица"},
			{label: "Роменская улица"},
			{label: "Ропшинская улица"},
			{label: "Российский проспект"},
			{label: "Рощинская улица"},
			{label: "Рубежная улица"},
			{label: "Рубинштейна улица"},
			{label: "Руднева улица"},
			{label: "Рузовская улица"},
			{label: "Румянцевская площадь"},
			{label: "Руставели улица"},
			{label: "Ручьевская дорога"},
			{label: "Рыбацкая улица"},
			{label: "Рыбацкий проспект"},
			{label: "Рыбинская улица"},
			{label: "Рылеева улица"},
			{label: "Рюхина улица"},
			{label: "Рябиновая улица"},
			{label: "Рябовское шоссе"},
			{label: "Рядовая улица"},
			{label: "Рязанский переулок"},
			{label: "Сабировская улица"},
			{label: "Саблинская улица"},
			{label: "Савиной улица"},
			{label: "Савушкина улица"},
			{label: "Садовая улица"},
			{label: "Салова улица"},
			{label: "Салтыковская дорога"},
			{label: "Самойловой улица"},
			{label: "Санаторная аллея"},
			{label: "Санкт-Петербургское шоссе"},
			{label: "Сантьяго-де-Куба улица"},
			{label: "Саперный переулок"},
			{label: "Саратовская улица"},
			{label: "Сахарный переулок"},
			{label: "Свеаборгская улица"},
			{label: "Светлановская площадь"},
			{label: "Светлановский проспект"},
			{label: "Свечной переулок"},
			{label: "Свирская улица"},
			{label: "Севастопольская улица"},
			{label: "Севастьянова улица"},
			{label: "Северная дорога"},
			{label: "Северная площадь"},
			{label: "Северный проспект"},
			{label: "Сегалева улица"},
			{label: "Седова улица"},
			{label: "Семеновская площадь"},
			{label: "Семеновская улица"},
			{label: "Сенатская площадь"},
			{label: "Сенная площадь"},
			{label: "Сергея Марго улица"},
			{label: "Сергея Тюленина переулок"},
			{label: "Сергиевская улица"},
			{label: "Сердобольская улица"},
			{label: "Серебристый бульвар"},
			{label: "Серебряков переулок"},
			{label: "Серпуховская улица"},
			{label: "Сестрорецкая улица"},
			{label: "Сибирская улица"},
			{label: "Сивков переулок"},
			{label: "Сизова проспект"},
			{label: "Сикейроса улица"},
			{label: "Сикорского площадь"},
			{label: "Симонова улица"},
			{label: "Синявинская улица"},
			{label: "Сиреневый бульвар"},
			{label: "Ситцевая улица"},
			{label: "Скачков переулок"},
			{label: "Складская улица"},
			{label: "Складской проезд"},
			{label: "Скобелевский проспект"},
			{label: "Славы проспект"},
			{label: "Славянская улица"},
			{label: "Слепушкина переулок"},
			{label: "Слободская улица"},
			{label: "Смоленская улица"},
			{label: "Смольного улица"},
			{label: "Смольный проезд"},
			{label: "Смольный проспект"},
			{label: "Смолячкова улица"},
			{label: "Собчака площадь"},
			{label: "Советский переулок"},
			{label: "Советский проспект"},
			{label: "Солдата Корзуна улица"},
			{label: "Солдатский переулок"},
			{label: "Солидарности проспект"},
			{label: "Солнечная улица"},
			{label: "Соломахинский проезд"},
			{label: "Солунская улица"},
			{label: "Соляной переулок"},
			{label: "Сомов переулок"},
			{label: "Сортировочная-Московская улица"},
			{label: "Сосновая улица"},
			{label: "Сосновский проспект"},
			{label: "Софийская улица"},
			{label: "Софьи Ковалевской улица"},
			{label: "Социалистическая улица"},
			{label: "Сочинская улица"},
			{label: "Союза Печатников улица"},
			{label: "Союзный проспект"},
			{label: "Спасский переулок"},
			{label: "Спортивная улица"},
			{label: "Среднегаванский проспект"},
			{label: "Среднеохтинский проспект"},
			{label: "Средний проспект"},
			{label: "Средняя аллея"},
			{label: "Средняя Колтовская улица"},
			{label: "Средняя Подьяческая улица"},
			{label: "Средняя улица"},
			{label: "Ставропольская улица"},
			{label: "Старо-Муринская улица"},
			{label: "Старо-Петергофский проспект"},
			{label: "Старобельская улица"},
			{label: "Старого Театра площадь"},
			{label: "Стародеревенская улица"},
			{label: "Старообрядческая улица"},
			{label: "Староорловская улица"},
			{label: "Старопутиловский вал"},
			{label: "Старорусская улица"},
			{label: "Стартовая улица"},
			{label: "Старцева улица"},
			{label: "Стасовой улица"},
			{label: "Стахановцев улица"},
			{label: "Стачек площадь"},
			{label: "Стачек проспект"},
			{label: "Стеклянная улица"},
			{label: "Степана Разина улица"},
			{label: "Степановский проезд"},
			{label: "Стойкости улица"},
			{label: "Столярный переулок"},
			{label: "Стрелковая улица"},
			{label: "Стрельбищенская улица"},
			{label: "Стрельнинская улица"},
			{label: "Стремянная улица"},
			{label: "Строителей улица"},
			{label: "Студенческая улица"},
			{label: "Суворовская площадь"},
			{label: "Суворовский проспект"},
			{label: "Суздальский проспект"},
			{label: "Суконная линия"},
			{label: "Сухопутный переулок"},
			{label: "Счастливая улица"},
			{label: "Съезжинская улица"},
			{label: "Сызранская улица"},
			{label: "Сытнинская площадь"},
			{label: "Сытнинская улица"},
			{label: "Таврическая улица"},
			{label: "Таврический переулок"},
			{label: "Талалихина переулок"},
			{label: "Таллинская улица"},
			{label: "Таллинское шоссе"},
			{label: "Тамбасова улица"},
			{label: "Тамбовская улица"},
			{label: "Таможенный переулок"},
			{label: "Танкиста Хрустицкого улица"},
			{label: "Тарасова улица"},
			{label: "Татарский переулок"},
			{label: "Ташкентская улица"},
			{label: "Тбилисская улица"},
			{label: "Тверская улица"},
			{label: "Театральная аллея"},
			{label: "Театральная площадь"},
			{label: "Телеграфная улица"},
			{label: "Тележная улица"},
			{label: "Тележный переулок"},
			{label: "Тельмана улица"},
			{label: "Тепловозная улица"},
			{label: "Технологическая площадь"},
			{label: "Тимуровская улица"},
			{label: "Типанова улица"},
			{label: "Титова улица"},
			{label: "Тифлисская улица"},
			{label: "Тихая улица"},
			{label: "Тихомировская улица"},
			{label: "Тихорецкий проспект"},
			{label: "Ткачей улица"},
			{label: "Тобольская улица"},
			{label: "Товарищеский проспект"},
			{label: "Товарный переулок"},
			{label: "Токсовская улица"},
			{label: "Толмачева улица"},
			{label: "Толмачевская улица"},
			{label: "Торговый переулок"},
			{label: "Тореза проспект"},
			{label: "Торжковская улица"},
			{label: "Торфяная дорога"},
			{label: "Тосина улица"},
			{label: "Травяная улица"},
			{label: "Тракторная улица"},
			{label: "Трамвайный проспект"},
			{label: "Транспортный переулок"},
			{label: "Трезини площадь"},
			{label: "Трефолева улица"},
			{label: "Троицкая площадь"},
			{label: "Троицкий проспект"},
			{label: "Троллейбусный проезд"},
			{label: "Труда площадь"},
			{label: "Труда улица"},
			{label: "Тульская улица"},
			{label: "Туполевская улица"},
			{label: "Турбинная улица"},
			{label: "Тургенева площадь"},
			{label: "Тургеневский переулок"},
			{label: "Туристская улица"},
			{label: "Турку улица"},
			{label: "Тучков переулок"},
			{label: "Тютчевская улица"},
			{label: "Тюшина улица"},
			{label: "Угловой переулок"},
			{label: "Ударников проспект"},
			{label: "Удельный проспект"},
			{label: "Уездный проспект"},
			{label: "Ульяны Громовой переулок"},
			{label: "Уманский переулок"},
			{label: "Уральская улица"},
			{label: "Урюпин переулок"},
			{label: "Усыскина переулок"},
			{label: "Уткин проспект"},
			{label: "Уточкина улица"},
			{label: "Уфимская улица"},
			{label: "Учебный переулок"},
			{label: "Учительская улица"},
			{label: "Ушинского улица"},
			{label: "Ушковская улица"},
			{label: "Фабричная улица"},
			{label: "Фаворского улица"},
			{label: "Фарфоровская улица"},
			{label: "Фарфоровский пост"},
			{label: "Фаянсовая улица"},
			{label: "Федоровская улица"},
			{label: "Федосеенко улица"},
			{label: "Феодосийская улица"},
			{label: "Фермское шоссе"},
			{label: "Филологический переулок"},
			{label: "Финляндский переулок"},
			{label: "Финляндский проспект"},
			{label: "Финский переулок"},
			{label: "Фокина улица"},
			{label: "Фонарный переулок"},
			{label: "Фонтанная улица"},
			{label: "Фруктовая линия"},
			{label: "Фрунзе улица"},
			{label: "Фуражный переулок"},
			{label: "Фурштатская улица"},
			{label: "Фучика улица"},
			{label: "Харченко улица"},
			{label: "Харьковская улица"},
			{label: "Хасанская улица"},
			{label: "Хвойная улица"},
			{label: "Херсонская улица"},
			{label: "Херсонский проезд"},
			{label: "Химиков улица"},
			{label: "Хлопина улица"},
			{label: "Хохрякова улица"},
			{label: "Хошимина улица"},
			{label: "Хрустальная улица"},
			{label: "Художников проспект"},
			{label: "Цветочная улица"},
			{label: "Цимбалина улица"},
			{label: "Цимлянская улица"},
			{label: "Циолковского улица"},
			{label: "Чайковского улица"},
			{label: "Чапаева улица"},
			{label: "Чапыгина улица"},
			{label: "Чебоксарский переулок"},
			{label: "Чекистов улица"},
			{label: "Челябинская улица"},
			{label: "Червонного Казачества улица"},
			{label: "Черкасова улица"},
			{label: "Черниговская улица"},
			{label: "Чернова улица"},
			{label: "Черноморский переулок"},
			{label: "Чернорецкий переулок"},
			{label: "Чернышевский проезд"},
			{label: "Чернышевского площадь"},
			{label: "Чернышевского проспект"},
			{label: "Черняховского улица"},
			{label: "Чехова улица"},
			{label: "Чистяковская улица"},
			{label: "Чкаловский проспект"},
			{label: "Чугунная улица"},
			{label: "Чудновского улица"},
			{label: "Шаврова улица"},
			{label: "Шамшева улица"},
			{label: "Шарова улица"},
			{label: "Шателена улица"},
			{label: "Шатерная улица"},
			{label: "Шаумяна проспект"},
			{label: "Шафировский проспект"},
			{label: "Шведский переулок"},
			{label: "Швецова улица"},
			{label: "Шевченко площадь"},
			{label: "Шевченко улица"},
			{label: "Шелгунова улица"},
			{label: "Шепетовская улица"},
			{label: "Шереметьевская улица"},
			{label: "Шипкинский переулок"},
			{label: "Шишкина улица"},
			{label: "Шишмаревский переулок"},
			{label: "Шкапина улица"},
			{label: "Шкиперский проток"},
			{label: "Школьная улица"},
			{label: "Шлиссельбургский проспект"},
			{label: "Шлиссельбургское шоссе"},
			{label: "Шостаковича улица"},
			{label: "Шотландская улица"},
			{label: "Шотмана улица"},
			{label: "Шпалерная улица"},
			{label: "Штурманская улица"},
			{label: "Шуваловский проспект"},
			{label: "Щепяной переулок"},
			{label: "Щербаков переулок"},
			{label: "Щербакова улица"},
			{label: "Электропультовцев улица"},
			{label: "Эмануиловская улица"},
			{label: "Энгельса проспект"},
			{label: "Энергетиков проспект"},
			{label: "Энтузиастов проспект"},
			{label: "Эриванская улица"},
			{label: "Эскадронный переулок"},
			{label: "Эсперов переулок"},
			{label: "Эсперова улица"},
			{label: "Эстонская улица"},
			{label: "Южная аллея"},
			{label: "Южная дорога"},
			{label: "Южное шоссе"},
			{label: "Юннатов тупик"},
			{label: "Юннатов улица"},
			{label: "Юризанская улица"},
			{label: "Юрия Гагарина проспект"},
			{label: "Яблочкова улица"},
			{label: "Яблочная площадь"},
			{label: "Ягодный проезд"},
			{label: "Якобштадтский переулок"},
			{label: "Яковская улица"},
			{label: "Якорная улица"},
			{label: "Якубовича улица"},
			{label: "Ялтинская улица"},
			{label: "Ярослава Гашека улица"},
			{label: "Ярославская улица"},
			{label: "Ярославский проспект"},
			{label: "Яхтенная улица"}
		];
		
		$( "#project_from" ).autocomplete({
			minLength: 0,
			source: projects,
			focus: function( event, ui ) {
				$( "#project_from" ).val( ui.item.label );
				return false;
			},
			select: function( event, ui ) {
				$( "#project_from" ).val( ui.item.label+', ');
				//$( "#project-id" ).val( ui.item.value );
				return false;
			}
		})
		.data( "autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li style='font-size:12px;'></li>" )
				.data( "item.autocomplete", item )
				.append( "<a>" + item.label + "</a>" )
				.appendTo( ul );
		};
		
		$( "#project_to" ).autocomplete({
			minLength: 0,
			source: projects,
			focus: function( event, ui ) {
				$( "#project_to" ).val( ui.item.label );
				return false;
			},
			select: function( event, ui ) {
				$( "#project_to" ).val( ui.item.label+', ');
				return false;
			}
		})
		.data( "autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li style='font-size:12px;'></li>" )
				.data( "item.autocomplete", item )
				.append( "<a>" + item.label + "</a>" )
				.appendTo( ul );
		};
	});
</script>
  	<form class="container validate" id="result" action="/trip" method="post">
  		<div class="form__box">
        <div class="form__title">Построить маршрут</div>
        <div class="form-group">
          <div class="label__title">Откуда *</div>
          <input id="project_from" class="ui-autocomplete-input" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="from" style="width:100%;">
        </div>
        
        <div class="form-group">
          <div class="label__title">Я выезжаю в:</div>
			<select name="from_time_hour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08" selected>08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
			</select>
			
			<select name="from_time_min">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
			</select>          
        </div>
        
        <div class="form-group">
          <div class="label__title">Куда *</div>
          <input id="project_to" class="ui-autocomplete-input" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="to" style="width:100%;">
        </div>
        
        <div class="form-group">
          <div class="label__title">Я возвращаюсь в:</div>
			<select name="to_time_hour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18" selected>18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
			</select>
			
			<select name="to_time_min">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
			</select>          
        </div>
      </div>
      
    <div class="form__box">
        <div class="form-group form-btn">
          <button type="submit">Далее</button>
        </div>
    </div>
  </form>
  <% end %>
  </body>
</html>