<!DOCTYPE html>
<html>
    <head>
        <title>Ridemate</title>
        <link rel="stylesheet" href="../css/reset.css" type="text/css">
        <link rel="stylesheet" href="../css/main.css?t=1" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <div style="border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
    <table><tbody>
    	<tr><td style="color: white" colspan="2" align="center"><%= @user.login %><br>Ваш ID <%= @user.id.to_s %><br>
      <%= 'Пол: '+@user.sex.to_s+', Возраст: '+@user.age.to_s+' Аватарка: '+@user.image_url.to_s %>
      
      </td></tr>
      <tr><td style="color: white" colspan="2" align="center"></td></tr>
    </tbody></table>
    </body>
</html>

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridemate</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bundle.min.js"></script>
  </head>
  <body>
  <% if @user.step == 0 %>
    <div class="header">
      <div class="container">
        <div class="header__title">Ridemate</div>
        <div class="header__discription">Сервис для поиска попутчиков</div>
      </div>
    </div>
    <form class="container validate" id="result">
      <div class="form__box">
      	<div class="form__title">Ваша роль:</div>
        <div class="form-group form-btn">
        <a class="btn btn-info btn-block" href="/next/2" role="button">Я Водитель</a>
        <a class="btn btn-info btn-block" href="/next/1" role="button">Я Попутчик</a>
        </div>
      </div>
    </form>
  <% else %>
  	<form class="container validate" id="result">
  		<div class="form__box">
        <div class="form__title">Построить маршрут</div>
        <div class="form-group">
          <div class="label__title">Откуда *</div>
          <input class="form-control" type="text" name="city" required="" placeholder="Верхняя масловка">
        </div>
        
        <div class="form-group">
          <div class="label__title">Я выезжаю в:</div>
			<select name="from_time_hour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
			</select>
			
			<select name="from_time_min">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
			</select>          
        </div>
        
        <div class="form-group">
          <div class="label__title">Куда *</div>
          <input class="form-control" type="text" name="fio" required="" placeholder="Нижняя Семеновская">
        </div>
        
        <div class="form-group">
          <div class="label__title">Я возвращаюсь в:</div>
			<select name="to_time_hour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
			</select>
			
			<select name="to_time_min">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
			</select>          
        </div>
      </div>
      
    <div class="form__box">
        <div class="form-group form-btn">
          <button class="send-btn" type="submit">Далее</button>
        </div>
    </div>
  </form>
  <% end %>
  </body>
</html>